*{
    padding: 0px;
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    color:white;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px 600px 600px 600px 200px;
    grid-template-areas: "header" "home" "education" "projects" "footer";
}

p{
    text-align: center;
}

.title_home{
    color:#884EA0;
}

.title_education{
    color:#3498DB;
}

.title_projects{
    color:#58D68D 
}

.title_contact_me{
    color:#F7DC6F 
}

.title_networks{
    color:#E74C3C; 
}

.title{
    padding: 30px;
    height: 10%;
}

body::-webkit-scrollbar {
    width: 15px;               
  }
  
  body::-webkit-scrollbar-track {
    background: black;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;    
    border-radius: 20px;      
    border: 3px solid black;  
  }
/********************/
/*Contenedor de HEADER*/
/********************/
header{
    position:sticky;
    top:0px;
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.9);
    transition: top 0.5s;
}

.list{
    padding: 40px 60px;
}

.list li{
    display:inline-block;
    font-size: 15px;
    margin:0px 20px 0px;
}
a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

a:visited{
    text-decoration: none;
}
/********************/
/*Contenedor de HOME*/
/********************/
.section_home{
    display:grid;
    grid-template-columns: 70% auto;
    grid-row: auto;
    grid-template-areas: "info profile";
}

/*Contenedor de Info*/
.container_info{
    grid-area: info;
    height: 100%;
}

.info{
    gap:20px;
    width: 90%;
    margin:0 auto;
    margin-top: 150px;
}

h1{ /*Title*/
    color:#884EA0;
    font-size: 50px;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}
.container_info .text{
    text-align: center;
    font-size: 18px;
}

/*Contenedor de Perfil*/
.container_perfil{
    grid-area: profile;
    margin:0 auto;
    margin-top: 150px;
}

.perfil img{
    width: 250px;
    border-radius: 30%;
}
/********************/
/*Contenedor de EDUCATION*/
/********************/
.formacion_academica{
    grid-area: education;
}

.container_slider{
    width: auto;
    height: auto;
    display: flex;
}

.slider{
    max-width: 840px;
    overflow:hidden;
}

.slider ul{
    display: flex;
    width: 1500px;
    gap:10px;
}

.slider ul li{
    list-style: none;
}

.slider ul .li_education{
    width: 250px;
    height: 300px;
    border: 1px solid white;
}

.education{
    position: relative;
}

.education img{
    width: 100%;
}

.education:hover{
    opacity: 0.5;
    width: 105%;
}

.education p{
    font-size: 15px;
    position:absolute;
    top:0;
}

/********************/
/*Contenedor de PROJECTS*/
/********************/
.projectos{
    grid-area: projects;
}

/********************/
/*Contenedor de FOOTER*/
.footer{
    grid-area: footer;
}
