*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    background-color: #0C0C0C;
    display: grid;
    grid-template-rows: 80px 850px 950px 850px 200px;
    grid-template-columns: 100%;
    width: 100%;
    grid-template-areas: "header" "home" "education" "projects" "footer";
}

/*Scroll*/
    body::-webkit-scrollbar {
    width: 15px;               
  }
  
  body::-webkit-scrollbar-track {
    background: #0C0C0C;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: white;    
    border-radius: 20px;      
    border: 3px solid black;  
  }

  .lds-dual-ring {
    background-color: #0C0C0C;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: #884EA0 transparent #884EA0 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .loaderGone{
    visibility: hidden;
    opacity: 0;
  }
/********************/
/*Container of HEADER*/
/********************/
header{
    display: flex;
    grid-area: header;
    position:sticky;
    top: 0;
    background-color: rgb(12, 12, 12);
    z-index: 2;
    transition: all .5s ease;
    width: 100%;
}

.header-home{
    color:#884EA0;
    font-weight: bolder;
}

.header-education{
    color:#3498DB;
    font-weight: bolder;
}

.header-projects{
    color:#58D68D;
    font-weight: bolder;
}

.header-contactme-button{
    color:#F7DC6F;
}

.header-networks-button{
    color:#E74C3C; 
}
/*Titles*/

.bars-button{
    display: grid;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 15%;
    visibility: hidden;
    opacity: 0;
}

.bars-button button{
    background-color: transparent;
    border: none;
}
.bars-button button i{
    color: white;
    font-size: 2em;
}

.header-list-container{
    display: flex;
    height: 100%;
    width: 70%;
    list-style: none;
}

.home, .education, .projects, .contactme, .networks{
    height: 100%;
    width: 20%;
    cursor: pointer;
}

.header-title{
    display: grid;
    place-items: center;
    height: 100%;
    width: 100%;
    text-decoration: none;
}

.header-title-container{
    background-color: #0C0C0C;
    font-size: 0.9em;
    height: 100%;
    width: 100%;
}

.header-contactme-button, .header-networks-button{
    background-color: transparent;
    font-weight: bolder;
    font-size: 1em;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.home:hover .header-title-container{
    background-color:#C39BD3;
}

.education:hover .header-education, .education:hover .header-title-container{
    background-color:#7FB3D5; 
    color:#154360;
}

.projects:hover .header-projects, .projects:hover .header-title-container{
    background-color: #A9DFBF;
    color:#0B5345; 
}

.contactme:hover button, .contactme:hover .header-contactme-button{
    background-color: #F9E79F;
    color: #9A7D0A;
}

.networks:hover .header-title-container, .networks:hover .header-networks{
    background-color: #F1948A;
    color: #641E16;
}

.reveal{
    position: relative;
    transform: translateY(80px);
    opacity: 0;
    transition: all 1s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity: 1;
}

.header-languages-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
}

.header-languages-content{
    display: flex;
    color: white;
}

.header-languages-content a{
    cursor: pointer;
}

.header-languages-content a img{
    width: 30px;
}
/*SUB MENU NETWORKS*/
.networks{
    position: relative;
}

.header-submenu{
    transition: all .5s;
    transform: translateY(-100%);
    position: absolute;
    height: 100px;
    width: 150px;
    z-index: -1;
}

.header-submenu-container li {
    margin:15px 10px 0 20px;
    list-style: none;
}

.header-submenu-container li a{
    text-decoration: none;
}

.header-submenu-container li i{
    font-size: 25px;
}
.header-submenu-container a:hover{
    text-decoration: underline;
}

.header-submenu-container li a:visited{
    color:white;
}

.networks:hover .header-submenu{
    background-color: rgb(100, 30, 22);
    color:#F5B7B1;
    visibility: visible;
    opacity: 1;
    transform: translateY(0%);
}

/*MODAL*/

.modal{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: all 500ms ease;
}

.modal-container{
    width: 600px;
    height: 600px;
    background-color: black;
    border: 1px solid #F7DC6F;
    border-radius: 5px;
}

.modal-header{
    position: relative;
    display: flex;
    color: #F7DC6F;
    font-size: 25px;
    padding: 10px;
    height: 100px;
}

.modal-close{
    position: absolute;
    right: 20px;
    color: white;
    margin-top: 5px;
    padding: 5px;
    font-size: 15px;
    background-color: #0C0C0C;
    border: 1px solid #F7DC6F;
    border-radius: 5px;
    cursor: pointer;
}

.modal-title{
    margin-left:28px;
    margin-top: 2px;
}


.modal-content{
    position: relative;
    height: 500px;
    font-size: 16px;
}


.modal-content form{
    position: relative;
    height: 400px;
    margin: 0 40px;
}

.modal-message-error-container{
    position:absolute;
    color: white;
}

.modal-input-content label{
    color: white;
    font-weight: bolder;
}

.field{
    height: 30px;
}

.field-message{
    height: 80px;
    resize: none;
}

.field, .field-message{
    width: 500px;
    background-color: #0C0C0C;
    color: white;
    margin-top: 10px;
    border-radius: 5px;
    padding: 2px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid grey;
}

.field::placeholder, .field-message::placeholder{
    color: #CACFD2;
}

.modal-input{
    height: 120px;
}

.modal-input-content{
    position: relative;
}

.icon-right{
    visibility: hidden;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 25px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    background-color: #27AE60;
    color: white;
}

.icon-error{
    visibility: hidden;
    background-color: #FF3838;
    color: white;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 5px;
    right: 25px;
    display: grid;
    place-items: center;
    border-radius: 50px;
}

.modal-input-error{
    visibility: hidden;
    font-size: 12px;
    position: absolute;
    bottom: -4em;
    left: -1.5em;
    height: 5em;
}

.modal-input-error p{
    color: #FF3838;
    font-weight: bolder;
    text-align: start;
}
.modal-textarea .modal-input-error{
    bottom: -4em;
}

.modal-textarea .icon-error,.modal-textarea .icon-right{
    bottom: 10px;
}

.modal-content-send{
    height: 120px;
    position: relative;
}

.modal-send{
    position: absolute;
    right: 18px;
    bottom: 20px;
    background-color: #0C0C0C;
    font-size: 12px;
    color: white;
    border-radius: 5px;
    border: 1px solid #F7DC6F;    
    width: 60px;
    height: 40px;
    cursor: pointer;
}

.modal-message-error-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF3838;
    color: white;
    height: 3em;
    width: 25em;
    font-weight: bolder;
    font-size: 0.9em;
    position: absolute;
    bottom: 3.5em;
    left: 3em;
    visibility: hidden;
}
/********************/
/*Section of HOME*/
/********************/
.section-home{
    grid-area:home;
    display:grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: auto;
    grid-template-areas: "info profile";
    color: white;
}

/*Contenedor de Info*/
.home-info-container{
    display: flex;
    justify-content: center;
    position: relative;
    top: 10em;
    grid-area: info;
}

.home-info-content{
    width: 90%;
}

.home-info-content h1{ /*Title*/
    color:#884EA0;
    font-size: 3em;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 30px;
}

.home-info-text{
    text-align: center;
    font-size: 1em;
    font-weight: bolder;
}

.home-info-text span{
    font-size: 2em;
    font-weight: bolder;
    color: #884EA0;
}

/*Container of PROFILE*/
.home-profile-container{
    display: flex;
    grid-area: profile;
    height: 100%;
    width: 100%;
}

.home-profile-content{
    display: flex;
    align-items: center;
    position: relative;
    top: 5em;
    left: 1em;
    flex-direction: column;
    height: auto;
    gap: 1em;
}
.home-profile-content img{
    width: 250px;
    border-radius: 30%;
    border: 10px solid #884EA0;
}

.home-profile-profession{
    font-size: 2em;
    font-weight: bolder;
}

.home-profile-cv-container{
    width: 10em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-profile-cv-content{
    background-color: #884EA0;
    border-radius: 5px;
    height: 2.5em;
    width: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-profile-cv-content a{
    color: white;
    font-size: 0.9em;
    font-weight: bolder;
    text-decoration: none;
    text-align: center;
}

.home-profile-cv-content a:hover{
    text-decoration: underline;
}
/**************************/
/*Contenedor de EDUCATION*/
/************************/

.education-title{
    color: #3498DB;
    text-align: center;
    font-size: 2em;
}

.slider-container{
    max-width:1000px;
}

.slider-content{
    margin: 100px 0;
    z-index: -10;
}

.card{
    display: flex;
    justify-content: center;
    background-color: #202020;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.card-container{
    width: 15em;
    height: 15em;
    margin: 20px;
}
.card-image{
    position: relative;
    width: 100%;
    height: 12em;
}

.card-image img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.card-text{
    text-align: center;
    font-size: 0.8em;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    background-color: rgb(0, 0, 0, 0.6);
    opacity: 0;
}

.card-text span{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bolder;
    height: 40px;
}

.card-content{
    margin: -10px;
    font-size: 0.8em;
}

.card:hover .card-text{
    opacity: 1;
    transition: 0.8s;
}

.swiper-button-next{
    color: white;
}
/*Container TOOLS*/
.tools-container{
    height: 10em;
}

.tools-list-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.tools-list-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #202020;
    overflow: hidden;
    width: 95%;
    height: 5em;
    border-radius: 5px;
}

.tools-list{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 100%;
    border-radius: 5px;
}

.tools-list ul{
    display: flex;
    list-style: none;
    color: white;
    animation: marquee 10s linear infinite;
    width: 90%;
}

@keyframes marquee{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-117%);
    }
}
.tools-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9%;
    margin: 0 2em;
}

.tools-container img{
    position: relative;
    width: 40px;
}

.tool-name{
    display: none; 
    background-color: #202020;
    font-size: 0.8em;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    bottom:-5px;
}

.tool-name::after{
    content: "";
    display: block;
    border-bottom: 8px solid #202020;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 8px);
    
}

.tools-container li:hover img{
    width: 50px;
    transition: 0.3s;
}

.tools-container li:hover .tool-name{ 
    display: inline-block;
}

.tools-title{
    padding-left: 20px;
    font-size: 2em;
    color:#3498DB;
}

/********************/
/*Contenedor de PROJECTS*/
/********************/
.section-projects{
    grid-area: projects;
}

.projects-title{
    display: flex;
    color:#58D68D;
    justify-content: center;
    font-size: 2em;
    height: 150px;
}

.projects-title h2{
    margin-top: 30px;
}

.project-cards{
    display: flex;
    width: 100%;
}

.project-card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 670px;
}

.project-card-content{
    height: 100%;
}

.project-card{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 550px;
    border-radius: 5px;
    background-color: #202020;
    transition: all 400ms ease;
}

.project-card:hover{
    box-shadow: 5px 5px 20px rgb(88, 214, 141,0.4);
    transform: translateY(-3%);
}


.project-card-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60%;
}

.project-card-image img{
    width: 30em;
}

.project-card-message{
    color: #53966F;
    font-weight: bold;
    width: 100%;
    height: 60%;
    display: grid;
    place-items: center;
    font-size: 3em;
}

.project-card-info{
    height: 25%;
}

.project-card-info h3{
    display: grid;
    place-items: center;
    color: #53966F;
    font-size: 1.2em;
    font-weight: bold;
}

.project-card-info p{
    color:#BEBEBE;
}

.project-card-buttons{
    display: flex;
    align-items: center;
    width: auto;
    height: auto;
    padding-left: 1em;
}

.project-card-buttons a{
    margin-left: 1em;
}
.project-card-buttons i{
    font-size: 2em;
    color: #53966F;
}

.project-card-buttons i:hover{
    font-size: 40px;
    transition: 0.3s;
}
/********************/
/*Contenedor de FOOTER*/
footer{
    grid-area: footer;
    background-color:#131313;
}

footer h3, p{
    color: white;
    margin: 20px;
    text-align: center;
    font-size: 1em;
}

footer p button{
    color:#F7DC6F;
    font-size: 1.1em;
    font-weight: bolder;
    background: transparent;
    border: none;
}

footer p button:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copyright{
    color: grey;
    font-size: 0.7em;
    position: relative;
    top: 80px;
    padding-left: 10px;
}


@media screen and (max-width: 850px){
    .container{
        background-color: #0C0C0C;
        display: grid;
        grid-template-rows: 80px 850px 800px 1100px 200px;
        grid-template-columns: 100%;
        width: 100%;
        grid-template-areas: "header" "home" "education" "projects" "footer";
    }

    .header-list-container{
        position: absolute;
        width: 100%;
        height: 50%;
        font-size: 0.7em;
        transition: all .5s;
        transform: translateY(0%);
        z-index: -1;
    }

    .header-submenu{
        right: 0;
    }

    .bars-button{
        visibility: visible;
        opacity: 1;
        z-index: 2;
    }

    .header-languages-container{
        background-color: #0C0C0C;
        justify-content: end;
        padding-right: 1.5em;
        width: 100%;
        z-index: 1;
    }

    .section-home{
        display:grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% auto;
        grid-template-areas: "profile" "info";
    }

    .home-profile-profession{
        font-size: 1.5em;
        text-align: center;
    }

    .home-profile-container{
        display: flex;
        justify-content: center;
        grid-area: profile;
    }
    .home-profile-content{
        left: 0;
    }

    .home-profile-content img{
        width: 8em;
    }

    .home-profile-cv-container{
        width: 10em;
        height: 5em;
        font-size: 0.8em;
    }
    /**/
    .home-info-container{
        grid-area: info;
    }
    .home-info-content h1{
        font-size: 1.5em;
    }

    .home-info-text{
        font-size: 0.8em;
    }

    .home-info-text span{
        font-size: 1em;
    }

    /**/
    .education-title{
        font-size: 1.2em;
    }

    .slider-content{
        margin-left:20px;
        margin-right: 20px;
    }

    .card-container{
        height: 12em;
    }

    .card-content{
        font-size: 0.7em;
    }
    .card-image img{
        width: 100%;
        height: 6em;
    }

    .tools-title{
        font-size: 1.2em;
    }

    .tools-list-content{
        width: 90%;
    }

    .tools-list ul{
        animation: marquee 2s linear infinite;
    }

    .projects-title{
        font-size: 1.2em;
    }

    .project-cards{
        flex-direction: column;
        align-items: center;
    }
    
    .project-card{
        height: 20em;
        
    }

    .project-card-container{
        width: 20em;
        margin-top: 50px;
    }

    .project-card-content{
    }
    .project-card-image{
        width: 18em;
        height: 10em;
    }
    .project-card-image img{
        width: 100%;
    }

    .project-card-info h3{
        font-size: 1.2em;
    }

    .project-card-info p{
        font-size: 0.8em;
    }
}